<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/bet.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <a href="main.html" class="b-btn back">Выйти</a>

      <div class="balance_cont b-btn">
        <img src="../png/coin.png" alt="" />
        <div class="balance"></div>
      </div>

      <div class="title">Начало матча</div>

      <div class="choice_cont b-btn">
        <div class="name">Количество раундов</div>
        <div class="options block">
          <div class="option option_1 act">3 раунда</div>
          <div class="option option_1">5 раундов</div>
          <div class="option option_1">7 раундов</div>
        </div>
      </div>

      <div class="choice_cont b-btn">
        <div class="name">Ставка</div>
        <div class="options block">
          <div class="option option_2 act">Победа</div>
          <div class="option option_2">Поражение</div>
        </div>
      </div>

      <div class="choice_cont b-btn">
        <div class="name">Сумма ставки</div>
        <div class="options block">
          <div class="option option_3 block act">
            <img src="../png/coin.png" alt="" />
            <div class="value">100</div>
          </div>
          <div class="option option_3 block">
            <img src="../png/coin.png" alt="" />
            <div class="value">500</div>
          </div>
          <div class="option option_3 block">
            <img src="../png/coin.png" alt="" />
            <div class="value">1000</div>
          </div>
        </div>
      </div>

      <a href="game.html" class="link btn">СТАРТ</a>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/bet.js"></script>
  </body>
</html>
