.wrapper {
  padding: 15px;
  overflow: auto;
}

.text {
  margin-bottom: 120px;
}

.link {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 29.863px;
  font-weight: 500;
}
